<div class="wst__wrapper">
    <app-navbar></app-navbar>
    <div class="wst__card section__padding section__margin gradient__bg">

      <header class="wst__header">
        <h1>Hallo, ich bin der interaktive Computer dieser Website.
          <br>
          Ich werde dich durch diese Tutorial-Reihe begleiten.
        </h1>
      </header>
      <section class="wst__content">
        <input class="wst__content-input" type="text" placeholder="Namen eingeben"/>
        <div class="wst__content-text">
          <p>Du kannst diese Tutorial-Reihe mit Maus und Tastatur durchlaufen</p>
          <p class="gradient__text">oder</p>
          <p>Sie verwenden Sprachkommandos</p>
        </div>
        <div class="wst__content-button_container">
          <a href="">Weiter</a>
        </div>
      </section>
  </div>
</div>
