<div class="wst__wrapper gradient__bg">
  <app-navbar></app-navbar>
  <header class="wst__header section__padding">
    <div class="wst__header-content">
      <p>Bachelor-Arbeit: Eiham Salieba</p>
      <h1 class="gradient__text">WebSpeech-API Tutorial</h1>
      <div class="wst__header-content_explanation">
        <p>Speech input and output technologies in Web browsers offer an alternative
          interaction modality, which is particularly beneficial for visually impaired persons. But
          also multimodal user interfaces can be built with speech input and output as a
          component. Speech input and output technologies can also form the basis of
          conversational user interfaces. The goals of this thesis are twofold:
        </p>
        <ul>
          <li>Explore the state of the art of speech input and output technologies in current Web browsers,
            focusing on Google Chrome and Mozilla Firefox
          </li>
          <li>
            Develop two example scenarios of speech interactions in browsers, implemented as browser extensions
          </li>
        </ul>
      </div>
      <div class="wst__header-button_container">
        <app-cta-button displayText="Start Tutorial" (onClick)="startTutorial($event)"></app-cta-button>
      </div>
    </div>
    <div class="wst__header-image_container">
      <img src="{{ illustration }}" alt="illustration">
    </div>
  </header>
</div>
