<div class="row mt-5 justify-content-center align-items-center">
  <div class="col">
    <div class="card gradient__bg">
      <div class="card-body">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col">
              <h1 class="gradient__text display-1 fw-bold text-uppercase">Page Not Found</h1>
            </div>
          </div>
          <div class="row mt-5 justify-content-center text-center">
            <div class="col">
              <p class="lead text-white">Are you sure the URL is correct? The Page does not exist.</p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col">
              <app-cta-button displayText="Back to Homepage" routerLink="/home"></app-cta-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
