<div class="row justify-content-center align-items-center mt-5">
  <div class="col">
    <h1 class="gradient__text display-1 fw-bold text-uppercase text-center">Table of Contents</h1>
  </div>
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col" *ngFor="let tutorial of tutorials">
      <app-tutorial-card
        [id]="tutorial.id"
        [tutorialNumber]="tutorial.tutorialNumber"
        [title]="tutorial.title"
        [description]="tutorial.description"
        (onClick)="handleNavigation(tutorial.id)">
      </app-tutorial-card>
    </div>
  </div>
</div>
