<div class="wst__wrapper gradient__bg">
  <app-navbar></app-navbar>
  <header class="wst__header section__padding">
    <div class="wst__header-content">
      <h1>Table of Contents</h1>
      <div class="wst__header-content_card_container">
        <div class="wst__card">
          <div class="wst__card-title">
            <h1>01</h1>
            <h2>Hallo Welt</h2>
          </div>
          <div class="wst__card_description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae aliquet in at quis non auctor velit vitae.
              Massa facilisis enim scelerisque nisi est ullamcorper. Vestibulum tristique vel eleifend accumsan
            </p>
          </div>
          <div class="wst__card-status">
            <span>Status:</span><span> 0%</span>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
