<div class="wrapper-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <as-split unit="percent"
                  [direction]="'horizontal'"
                  [gutterSize]="gutterSizeVertical"
                  gutterAriaLabel="adjustable divider between two views">
          <as-split-area [size]="sizeTopLeft">
            <div class="wst__editor">
              <div class="ace-editor" #jsEditor></div>
            </div>
          </as-split-area>
          <as-split-area [size]="sizeTopRight">
            <div class="wst__editor">
              <div class="ace-editor" #htmlEditor></div>
            </div>
          </as-split-area>
        </as-split>
      </div>
    </div>
  </div>
</div>
