body {
  overflow-y: hidden;
}

.ace-editor {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100vw;
  height: calc(100vh - 85.27px);
  overflow-x: scroll;
}

//.col-custom {
//  height: 50vh;
//}

iframe {
  border: none;
  outline: none;
  width: 100%;
  height: calc(100% - 85.27px - 40vh);
}
