.wst__card {
  padding: 0 2rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 350px;
  height: 350px;
  font-family: var(--font-family);
  cursor: pointer;
}

.wst__card-title {
  width: 100%;
  font-weight: 500;
  color: white;
}

.wst__card-title h1 {
  font-size: 4rem;
  background: var(--gradient-bar);
  /*noinspection CssInvalidPropertyValue*/
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wst__card-title h1, h2 {
  text-align: left;
}

.wst__card-title h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.wst__card-status span {
  color: white;
}

.wst__card_description p {
  color: var(--color-text);
  word-spacing: 2px;
}

.wst__card-status {
  padding-top: 1rem;
  width: 100%;
}
